@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #fcfcfc, #98c2db);
}

.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    max-width: 90%;

}

.tittle {
    margin-bottom: 2em;
}

.tittle h1 {
    color: #5555dd;
    font-size: 40px;
}

.tittle p {
    letter-spacing: 2px;
    font-size: 30px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

i {
    padding-right: .5em;
    font-size: 1.5em;
    color: #000;
}

span {
    text-decoration: underline;
}

img {
    display: block;
    border-radius: .5em;
    border: 2px solid #5555dd;
    width: 100%;
}

.image {
    position: relative;
    width: 300px;
}

.image::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: -3%;
    left: -3%;
    background: #5555dd;
    border-top-left-radius: .8em;
    z-index: -1;
}

.image::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -3%;
    right: -3%;
    background: #5555dd;
    border-bottom-right-radius: .8em;
    z-index: -1;
}

.check {
    display: flex;
}

.check .time {
    margin-left: 1em;
}